@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-black:#1b1a1c;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* {
  scroll-behavior: smooth;
  
}
header {
  background-color: var(--light-black);
}


canvas {
  min-height: 100vh;
  background-color: #101010;
}

.canvas-wrap {
  z-index: -1;
  position: fixed;
  inset: 0 0 0 0;
  min-height: 100vh;
}


