@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-black:#1b1a1c;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* {
  scroll-behavior: smooth;
  
}
header {
  background-color: var(--light-black);
}
body {
  background-color: #101010;

}
.landing-text {
  font-size: clamp(1.875rem, -0.2235rem + 10.4927vw, 12.63rem);
  
}
canvas {
  min-height: 100vh;
  background-color: #101010;
}

.canvas-wrap {
  z-index: -1;
  position: fixed;
  inset: 35px 0 0 0;
  min-height: 100vh;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
