@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-black: #1b1a1c;
  --light-black-transparent: #1b1a1cc4;

  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
}

header {
  background-color: var(--light-black-transparent);
}

body {
  cursor: none;
  /* Hide the default cursor */
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  /* Circle size */
  height: 20px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  /* Ensure the cursor doesn't block interactions */
  z-index: 9999;
  /* Ensure it's above other elements */
  mix-blend-mode: difference;
  /* Optional for better contrast */
  transform: translate(-50%, -50%);
  /* Center the circle on the pointer */
}

body {
  background-color: var(--light-black);
}

.landing-section {
  height: 175vh;
}

.landing-text {
  top: 30vh;
  padding-bottom: 30vh;

  h1 {
    font-size: clamp(1.25rem, 1.5rem + 10vw, 20rem);
    line-height: 0.9;
  }
}

canvas {
  
  min-height: 100vh;
  background-color: var(--light-black);
  filter: blur(200px) brightness(80%);
  overflow: hidden;
}

.canvas-wrap {
  width: 100vw;
  z-index: -1;
  position: fixed;
  inset: 0 0 0 0;
  min-height: 100vh;
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.logo img {
  width: 50px;
  height: auto;
  background-color: white;
  border-radius: 40px;
  padding: 3px;
}

header {
  backdrop-filter: blur(10px);
}